#server = https://acme-staging.api.letsencrypt.org/directory
rsa-key-size = 4096
email = andrewklaus@gmail.com
domains = home.aklaus.ca, subsonic.aklaus.ca, owncloud.aklaus.ca
text = True
standalone-supported-challenges = tls-sni-01
# authenticator = webroot
# webroot-path = /usr/share/nginx/html
