global
  log         127.0.0.1 local0
  log-send-hostname
  {% if haproxy_chroot %}
  chroot      {{ haproxy_chroot_dir }}
  {% endif %}
  pidfile     /var/run/haproxy.pid
  maxconn     {{ haproxy_maxconn }}
  user        {{ haproxy_user }}
  group       {{ haproxy_group }}
  nbproc      1
  daemon
  tune.ssl.default-dh-param {{ haproxy_dhparam }}
  ssl-default-bind-options no-sslv3
  ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
  ssl-default-server-options no-sslv3
  ssl-default-server-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:

defaults
    log                     global
    option                  http-ignore-probes
    option                  forwardfor       except 127.0.0.0/8
    stats                   enable
    timeout connect         5000
    timeout client          50000
    timeout server          50000

listen stats
    bind :::8082
    mode http
    stats enable
    stats uri /
    stats realm private
    stats auth stats:stats

listen letsencrypt-tls01-detect
    mode tcp
    option tcplog

    bind {{ haproxy_bind_addr }}:{{ haproxy_bind_port }}

    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }

    use-server letsencrypt-server if { req_ssl_sni -m end .acme.invalid }
    use-server https-server if { req.ssl_hello_type 1 }
    use_backend ssh             if  { payload(0,7) -m bin 5353482d322e30 }

    server letsencrypt-server {{ haproxy_cb_tls_bind_addr }}:{{ haproxy_cb_tls_bind_port }} weight 0
    server https-server 127.0.0.1:19443 weight 0 send-proxy

frontend https-in
    mode http
    option httplog

    bind 127.0.0.1:19443 ssl crt {{ haproxy_cb_dest_bundle }} no-sslv3 accept-proxy

    rspadd  Strict-Transport-Security:\ max-age=15768000
    capture request header User-agent len 100
    redirect scheme https code 301 if !{ ssl_fc }

    acl host_subsonic hdr(host) -i subsonic.aklaus.ca
    use_backend host_subsonic_be if host_subsonic

listen syncthing
    mode tcp
    option tcplog
    bind {{ haproxy_bind_addr }}:22000

    server syncthing syncthing.dmz:22000

listen transmission
    mode tcp
    bind {{ haproxy_bind_addr }}:51413

    server transmission transmission.dmz:51413

listen plex
    mode tcp
    option tcplog
    bind {{ haproxy_bind_addr }}:32400

    server plex plex.dmz:32400

backend ssh
    mode tcp
    timeout server 2h
    server ssh-shell shell.dmz:22

backend host_subsonic_be
    mode                    http
    option                  httplog
    option                  forwardfor # This sets X-Forwarded-For
    rspdel                  ^Strict-Transport-Security:.* #Remove hsts header from backend applications

    http-request add-header X-Proto https if { ssl_fc }

    server subsonic subsonic.dmz:4040 check
