[swifty]
type = swift
user = {{ os_username }}
key = {{ os_password }}
auth = {{ os_auth_url }}
domain = {{ os_domain }}
tenant_domain = {{ os_username }}
region = {{ os_region_name }}
auth_version = {{ os_auth_ver }}
endpoint_type = {{ os_endpoint_type }}

[photos-encrypted]
type = crypt
remote = swifty:photos
filename_encryption = standard
password = {{ os_enc_key }}
password2 = {{ os_enc_salt }}

[syncthing-encrypted]
type = crypt
remote = swifty:syncthing
filename_encryption = standard
password = {{ os_enc_key }}
password2 = {{ os_enc_salt }}

[backup-encrypted]
type = crypt
remote = swifty:backup
filename_encryption = standard
password = {{ os_enc_key }}
password2 = {{ os_enc_salt }}

[pcloud]
type = pcloud
client_id = 
client_secret = 
token = {{ pcloud_token }}

[pcloud-encrypted]
type = crypt
remote = pcloud:crypt_auto
filename_encryption = standard
directory_name_encryption = true
password = {{ pcloud_enc_key }}
password2 = {{ pcloud_enc_salt }}

