{% for p in silk_probes %}
probe {{ p.name }} {{ p.type }}
    listen-on-port {{ p.port }}
    protocol {{ p.protocol }}
    listen-as-host {{ p.address }}
end probe
{% endfor %}
{% for n in silk_networks %}
group {{ n.name }}
    {% for b in n.ipblocks %}
    ipblocks {{ b }}
    {% endfor %}
end group
{% endfor %}
{% for s in silk_sensors %}
sensor {{ s.name }}
    {{ s.type }}-probes {{ s.probe }}
    internal-ipblocks @{{ s.internal_network }}
    external-ipblocks remainder
end sensor
{% endfor %}
