<configuration version="17">
    <folder id="default" label="{{ st_def_folder_name }}" path="{{ st_def_folder }}" type="readwrite" rescanIntervalS="60" ignorePerms="false" autoNormalize="true">
    </folder>
    <gui enabled="true" tls="false" debugging="false">
        <address>{{ st_gui_listen_address }}:{{ st_gui_listen_port }}</address>
        <theme>{{ st_theme }}</theme>
    </gui>
</configuration>

