MONITOR Cyberpower@localhost 1 upsmon pass8412 master

NOTIFYFLAG ONBATT EXEC+WALL+SYSLOG
NOTIFYFLAG ONLINE EXEC+WALL+SYSLOG
MINSUPPLIES 1
SHUTDOWNCMD "/sbin/shutdown -h +0"
# NOTIFYCMD /usr/bin/notifyme
POLLFREQ 5
POLLFREQALERT 5
HOSTSYNC 15
DEADTIME 15
POWERDOWNFLAG /etc/killpower

RBWARNTIME 43200            
NOCOMMWARNTIME 300
FINALDELAY 5   

